### БД из customer.csv и transaction.csv
Я так понимаю в csv те же тамблицы, что были в прошлом задании. Поэтому использую созданную в прошлом ДЗ базу:

![Компьютер](./images/scheme.svg)

#### 1. Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

In [ ]:
select distinct brand from products where standard_cost>1500;

![HW2.1.png](./images/HW2.1.png)

#### 2. Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.

In [ ]:
select * from transactions t where t.transaction_date>='2017-04-01' and t.transaction_date<='2017-04-09' and t.order_status='Approved'

![HW2.2.png](./images/HW2.2.png)

#### 3. Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

In [ ]:
select distinct c.job_title from customers c
where (c.job_industry_category = 'Financial Services' or c.job_industry_category = 'IT')
and c.job_title like 'Senior%'

![HW2.3.png](./images/HW2.3.png)

#### 4. Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services

In [ ]:
--select p.brand, c.job_industry_category  from transactions t 
select distinct p.brand from transactions t 
left join products p on p.id=t.product_id
left join customers c on c.id=t.customer_id
where c.job_industry_category = 'Financial Services'

![HW2.4.png](./images/HW2.4.png)

#### 5. Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.
Да, я добавил p.brand для нагладности и из-за этого дублируются клиенты.

In [ ]:
select c.id, c.first_name, c.last_name, c.gender, c."DOB", p.brand from transactions t 
left join products p on p.id=t.product_id
left join customers c on c.id=t.customer_id
where t.online_order=true and p.brand in ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
group by c.id, p.brand
order by c.id
limit 10

![HW2.5.png](./images/HW2.5.png)

#### 6. Вывести всех клиентов, у которых нет транзакций.

In [ ]:
SELECT c.id, c.first_name, c.last_name, c.gender, c."DOB"
FROM customers c
LEFT JOIN transactions t ON c.id = t.customer_id
WHERE t.customer_id IS NULL;

![HW2.6.png](./images/HW2.6.png)

#### 7. Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.

In [ ]:
SELECT c.id, c.first_name, c.last_name, c.gender, c."DOB", p.standard_cost 
FROM customers c
JOIN transactions t ON c.id = t.customer_id
JOIN products p ON t.product_id = p.id
WHERE c.job_industry_category = 'IT'
  AND p.standard_cost = (SELECT MAX(standard_cost) FROM products);

![HW2.7.png](./images/HW2.7.png)

#### 8. Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.

In [ ]:
SELECT c.id, c.first_name, c.last_name, c.gender, c."DOB", c.job_industry_category
FROM customers c
JOIN transactions t ON c.id = t.customer_id
WHERE c.job_industry_category IN ('IT', 'Health')
  AND t.order_status = 'Approved'
  AND t.transaction_date>='2017-07-07' AND t.transaction_date<='2017-07-17';

![HW2.8.png](./images/HW2.8.png)